<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Zapi</title>
    <pre>
███████╗ █████╗ ██████╗ ██╗
╚══███╔╝██╔══██╗██╔══██╗██║
  ███╔╝ ███████║██████╔╝██║
 ███╔╝  ██╔══██║██╔═══╝ ██║
███████╗██║  ██║██║     ██║
╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝
    </pre>
</head>
<body>
<h1>Deleted User Information</h1>
<p th:text="|${user.name}&emsp;@${user.username}|"></p>
<img src="https://localhost:8080/api/image/${user.username}" alt="Couldn't load image">
<p th:text="|About me: ${user.header}|"></p>
<p th:text="|Followers: ${user.followers}&emsp;Followed: ${user.followed}|"></p>
</body>
</html>
